<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,user-scalable=no,
            initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Video Ideas</title>
        <link rel="icon" href="/img/logo.png">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/font-awesome-4.6.3/css/font-awesome.min.css">
        <meta name="theme-color" content="#000000" >
    </head>

    <body>
 <nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">
    <div class="container">

        <a class="navbar-brand" href="index.php">Video Ideas</a>
        <button class="navbar-toggler" type="button"
            data-toggle="collapse" data-target="#navbarsExample07"
            aria-controls="navbarsExample07" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample07">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                <% if(user){ %>
                <li class="navbar-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle"
                        data-toggle="dropdown" id="navbarDropdownMenuLink">
                      Video Ideas
                    </a>
                    <div class="dropdown-menu">
                        <a href="/ideas" class="dropdown-item">Ideas</a>
                        <hr/>
                        <a href="/ideas/add" class="dropdown-item">Add Idea</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/logout">Logout</a>
                </li>
                <% }else{  %>
                    <li class="nav-item">
                        <a class="nav-link" href="/users/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/users/register">Register</a>
                    </li>
                <% } %>
            </ul>

           <!-- <form action="search.php" method="POST" class="form-inline
                my-2 my-md-0">
                <input name="search" class="form-control" type="text"
                    placeholder="Search Ideas" aria-label="Search">
            </form> -->

        </div>
    </div>
</nav>

<div class="container">
